In [1]:
import pandas as pd
import numpy as np
import camelot
import re

In [2]:
#Importamos el boletín descargado de la página https://sns.gob.do/coronavirus/ y especificamos el número de la página
#donde se encuentra nuestra tabla deseada.
tables = camelot.read_pdf("Boletin-Especial-107-COVID-19.pdf",pages='2')

In [3]:
#Al inspeccionar nuestra variable creada vemos que solo contiene una sola tabla
tables

In [4]:
#Para visualizar esta tabla extraida como un pandas DataFrame, utilizamos el método .df.
tables[0].df

,0,1,2,3
0,Provincia,Muestras \nprocesadasa,Casos (n)b\nDefunciones (n)b,
1,,,Incidencia \nPositividad\nNuevos\nAcumulados\n...,
2,01 Distrito Nacional\n02 Azua\n03 Baoruco\n04 ...,"45,433\n2,642\n197\n2,553\n103\n6,416\n343\n18...","323\n9,659\n925.91\n21.32\n5,030\n37\n695\n312...",4\n143\n0\n10\n0\n2\n0\n8\n0\n2\n0\n87\n0\n1\n...

In [5]:
#Nuestra tabla no fue extraida de la forma deseada debido a que en el documento en pdf no hay lineas definidas que dividan
#los datos por filas, sin embargo, aún podemos trabajar sobre este data frame para reorganizar la información.
tablas_df=tables[0].df

In [6]:
#Reorganizar los nombres de la primera columna de la tabla: la columna llamada provincias
provincias=np.array(tablas_df[0].str.split('\n').iloc[2])
nombre_provincia=[]
for i in provincias:
    nombre = re.sub("[0-9]", "", i).lstrip()
    nombre_provincia.append(nombre)

In [7]:
#Reorganizar datos de las muestras procesadas
muestras=np.array(tablas_df[1].str.split('\n').iloc[2])
muestras=np.delete(muestras,np.where(muestras==' '))
muestras=muestras.reshape(34,1)

In [8]:
#Reorganizar datos de las columnas relacionadas a los casos de contagio: Nuevos, acumulados, indicencia acumulada
#Positividad(%), Recuperados
casos_valores=np.array(tablas_df[2].str.split('\n').iloc[2])
casos_valores=np.delete(casos_valores,np.where(casos_valores==' '))
casos_valores=casos_valores.reshape(34,5)

In [9]:
#Reorganizar datos de las columnas relacionadas a las defunciones: Nuevos y acumulados
defun_valores=np.array(tablas_df[3].str.split('\n').iloc[2])
defun_valores=np.delete(defun_valores,np.where(defun_valores==' '))
defun_valores=defun_valores.reshape(34,2)

In [10]:
boletin=pd.concat([pd.Series(nombre_provincia),pd.DataFrame(muestras),pd.DataFrame(casos_valores),
                   pd.DataFrame(defun_valores)],axis=1)

In [11]:
boletin.columns=['Provincia','Muestras procesadas','Nuevos_casos','Casos_acumulados','Incidencia_acumulada',
                 'Positividad(%)','Recuperados','Nuevas_defunciones','Defunciones_acumuladas']

In [12]:
boletin

,Provincia,Muestras procesadas,Nuevos_casos,Casos_acumulados,Incidencia_acumulada,Positividad(%),Recuperados,Nuevas_defunciones,Defunciones_acumuladas
0,Distrito Nacional,"45,433",323,"9,659",925.91,21.32,"5,030",4,143
1,Azua,"2,642",37,695,312.70,26.33,349,0,10
2,Baoruco,197,0,38,37.62,23.97,9,0,2
3,Barahona,"2,553",16,645,340.95,30.19,179,0,8
4,Dajabón,103,1,37,55.67,58.33,8,0,2
5,Duarte,"6,416",5,934,312.47,7.29,723,0,87
6,Elías Piña,343,2,108,170.34,37.59,10,0,1
7,El Seibo,188,0,55,58.82,37.97,25,0,0
8,Espaillat,"2,670",33,794,331.05,24.85,545,0,14
9,Independencia,204,6,107,183.14,55.49,10,0,1
10,La Altagracia,"4,886",36,913,258.34,21.26,465,0,2
11,La Romana,"4,234",17,899,329.79,22.24,532,0,10
12,La Vega,"7,933",19,"1,380",335.53,15.48,929,0,38
13,María Trinidad Sánchez,"1,440",3,236,167.26,17.71,148,0,4
14,Monte Cristi,304,-1,67,57.16,27.35,31,0,3
15,Pedernales,198,13,94,268.59,51.25,13,0,0
16,Peravia,"1,728",12,236,119.53,16.98,112,0,8
17,Puerto Plata,"2,532",13,553,165.96,18.69,349,0,39
18,Hermanas Mirabal,"1,207",2,284,308.20,21.18,227,0,18
19,Samaná,414,7,79,70.44,19.43,35,0,1
20,San Cristóbal,"7,349",40,"2,054",322.23,27.90,"1,062",2,35
21,San Juan,"2,581",34,426,192.12,21.26,145,0,8
22,San Pedro de Macorís,"2,289",18,344,112.80,18.93,147,0,14
23,Sánchez Ramírez,"1,587",8,352,231.61,22.38,256,0,10
24,Santiago,"12,377",88,"2,645",253.07,21.40,"1,457",1,106
25,Santiago Rodríguez,424,2,85,148.43,22.37,45,0,4
26,Valverde,769,1,237,134.11,38.26,105,0,13
27,Monseñor Nouel,"2,002",15,456,261.65,18.80,345,0,7
28,Monte Plata,442,0,72,37.69,23.85,37,0,7
29,Hato Mayor,155,1,38,44.31,27.71,15,0,2
30,San José de Ocoa,438,0,87,159.91,20.42,29,0,4
31,Santo Domingo,"42,987",227,"10,452",359.67,25.48,"5,188",4,185
32,No especificado,"4,702",58,"1,123",-,23.88,42,0,0
33,Total,"163,727","1,036","36,184",346.31,23.18,"18,602",11,786

In [13]:
#Exportar archivo
boletin.to_excel('boletin_107.xlsx')